#Copyright (C) 2015  Helal Uddin <helal00 at gmail.com>
#This program is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <http://www.gnu.org/licenses/>.

#possible key and values types
#path = "path to protect" (required as first entry in a file, initiates a new path config.) path with host (host.com/path) or without host (/path) . so the initial / is important, include it if you want to apply it for all host configured.
#max_ret_once = number (defaut = 3)
#total_ret = number (defaut = 3)
#total_ret_enf_sec = number in seconds (defaut = 1800)
#realm = "string" (defaut = "=:servername:= Admins Login:( =:max_ret_once:= retries X =:total_ret:= times max in =:total_ret_enf_sec/60:= minutes )")
#secret = "string" (required)
#ck_name = "string" (defaut = path_with_underscore_auth, e.g /path/to/protect will be path_to_protect_auth)
#ck_path = "string" (defaut = /)
#ex_for_inactive = "yes/no" (defaut = yes)
#use_ip = "yes/no" (defaut = yes)
#expire_after = number in seconds (defaut = 900)
#redir_qstr = "string" (defaut = checkforcookes)
#method = "file/cmd" (defaut = file)
#authwith = "path to a nginx basic auth password file (used with 'auth_basic_user_file' directives, this command 'echo username:$(openssl passwd -noverify passwordtouse)' on terminal and place each in a single line) or any command with or without options. cmd must be quoted like "cmd" and options in "cmd '-p'" (required)
#err_no_on_max = number (defaut = 404)
#debug = "yes/no" (defaut = no)  Will log in file {directory of access.lua}/auth.out.log
#debugtoresp = "yes/no" (defaut = no) Will echo back the request in details as response.
#ck_html_file = "path to a html file"
#ck_html = "html Sting"
#ck_text = "string"
#
#After edit, apply 'nginx -s reload' to make the new settings effective.

path = /dbadmin
secret = mynewsecret
authwith = /var/www/user/mydomain.com/.private/.pma_pass
#ck_html_file = /usr/share/nginx/commons/errorpages/cookies-required.html

path = mydomain.com/dbadmin
secret = mynewsecret
authwith = /var/www/user/mydomain.com/.private/.pma_pass
ck_html_file = /usr/share/nginx/commons/http-error-pages/errorpages/cookies-required.html
debug = true

path = /test
secret = mynewsecret
method = cmd
authwith = "/usr/share/nginx/nginx-auth-custom/authbycmd '/var/www/user/mydomain.com/.private/.pma_pass'"
#ck_html_file = /usr/share/nginx/commons/errorpages/cookies-required.html
debug = true
debugtoresp = true

path = /auth
secret = mynewsecret
authwith = /var/www/user/mydomain.com/.private/.pma_pass

path = /
secret = mynewsecret
authwith = /var/www/user/mydomain.com/.private/.pma_pass



